@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans", sans-serif;
  scroll-behavior: smooth;
}

.verticalLineAfter {
    position: relative;
  }
  
.verticalLineAfter::after {
    content: '';
    position: absolute;
    left: 120px; /* Change this to position the line */
    top: 0;
    bottom: 0;
    width: 3px; /* This controls the thickness of the line */
    background: rgb(128, 123, 123); /* Change color according to your needs */
  }

.HorizontalLineAfter {
    position: relative;
  }
  
.HorizontalLineAfter::after {
    content: '';
    position: absolute;
    top: 100%; /* This will place the line below the parent's content */
    left: -250px;
    right:-250px;
    height: 4px; /* This controls the thickness of the line */
    background: rgb(128, 123, 123); /* Change color according to your needs */
  }

.underline {
    text-decoration: underline;
}

.active {
    border-bottom: 2px solid #000; /* Change color as needed */
}

.coverPage {
  background: url('../public/Coverpage.png') no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 1080px;
  background-blend-mode: multiply;
  opacity: 80%;
}

.drop-shadow-down {
  box-shadow: 0px -20px 5px 5px rgba(0, 0, 0, 0.20);
}

.freightBigPro {
  font-family: "Freight Big Pro", serif; 
}